body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
}

.text-box {
    margin: 0 auto;
    width: 50%;
    height: 500px;
    border-radius: 10px;
    text-align: center;
}

input[type=button] {
    border: none;
    color: black;
    padding: 13px 20px;
    cursor: pointer;
    border-radius: 12px;
    autocomplete:"off";
}

form {
    text-align: center;
}